.modal_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; 
}

.modal_wrapper {
    width: 980px;
    height: 680px;
    background-color: #262626;
    border-radius: 10px;
    z-index: 1000; 
}

.modal_header {
    width: 100%;
    text-align: center;
    font-weight: bold;
    border-bottom: 0.3px solid #3d3d3d;
    padding: 15px 0;
}

.feed_edit_wrapper {
    width: 100%;
    height: 100%;
}

.feed_edit_img {
    width: 640px;
    height: 100%;
    border-radius: 0 0 0 10px;
    object-fit: cover; /* 이미지를 확대해서 적용 */
    object-position: center center; /* 이미지의 중앙을 기준으로 잘라냄 */
}