.modal_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; 
}

.modal_wrapper {
    width: 540px;
    height: 580px;
    background-color: #262626;
    border-radius: 10px;
    z-index: 1000; 
}

.modal_header {
    width: 100%;
    text-align: center;
    font-weight: bold;
    border-bottom: 0.3px solid #3d3d3d;
    padding: 15px 0;
}

.feed_upload {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upload_image {
    width: 100px;
    height: auto;
    margin-bottom: 15px;
}

.upload_text {
    font-size: 20px;
}

.upload_button {
    padding: 7px 20px;
    border-radius: 5px;
    background-color: #0095f6;
    margin: 20px 0;
    cursor: pointer;
}